/*detail-room*/

.title-detail {
    color: #1e1e1e;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
}

.content-detail {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #000;
}

.widget-img {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
}


/* .widget-img img{

} */

.widget-img span.decription-img {
    margin-top: 10px;
    display: block;
}

.comment {
    margin-top: 15px;
}

.container h1 {
    display: inline-block;
    margin-left: 100px;
}

.convenients__icon-item {
    max-height: 30px;
    max-witdh: 40px;
    vertical-align: text-bottom;
}

.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.badge-error {
    background-color: #b94a48;
}

.badge-error:hover {
    background-color: #953b39;
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.badge-info {
    background-color: #3a87ad;
}

.badge-info:hover {
    background-color: #2d6987;
}

.badge-inverse {
    background-color: #333333;
}

.badge-inverse:hover {
    background-color: #1a1a1a;
}


/*===========PAGE INDEX==============*/


/*FONT FACE*/

@font-face {
    font-family: "Open Sans Condensed";
    src: url(../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

.responsive {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 992px) {
    .content {
        padding: 0px;
    }
}


/**/

body,
html {
    height: 100%;
}


/* NAV */

.navbar-static-top {
    position: relative;
    z-index: 4;
}

.bg-dark-overlay {
    background-color: rgb(0, 0, 0, 0.6)
}


/*HEADER*/

header-container {
    position: relative;
}

.header-content {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    animation: sideToRightAndShow 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    transform: translate(-50%, -50%);
}

.header-content__title {
    color: white;
    font-family: Open Sans Condensed;
    font-weight: 300;
    font-size: 8.125em;
    white-space: nowrap
}

.header-content img {
    margin-right: 20px;
}

.header-content__description {
    opacity: 0;
    animation: sideToTopAndShow 0.5s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
    font-size: 1.8em;
    color: #fff;
    font-family: Arial;
    margin-left: 150px;
}

.header-bg {
    background-image: url("/images/slider-1.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*FOOTER*/

footer li {
    list-style: none;
}

footer ul {
    padding-left: 0;
}

.footer__listence {
    background: #fff;
    color: #000;
    padding: 10px 0;
}

.footer__content {
    background-color: #1a1a1a;
    padding: 40px 0 20px;
}


/*SEARCH ROOM*/

.search-room {
    padding: 70px 0 70px
}

search-room h3 {
    margin-bottom: 20px;
}


/*Room-center*/

#room-center {
    background-image: url("/images/motel-service-bg.jpg");
    height: auto;
    margin-right: -15px;
    margin-left: -15px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.owl-prev span,
.owl-next span {
    color: white;
    font-size: 36px;
}


/*KEYFRAMES*/

@keyframes sideToRightAndShow {
    from {
        opacity: 0;
        transform: translate(-60%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes sideToTopAndShow {
    from {
        opacity: 0;
        transform: translate(0, -10px);
    }
    to {
        opacity: 1;
        transform: translate(0, -20px);
    }
}


/*RESPONSIVE*/

@media only screen and (max-width: 992px) {
    .header-content__title {
        font-size: 5.125em !important;
    }
    .header-content__description {
        font-size: 1.3em !important;
    }
}

@media only screen and (max-width: 768px) {
    .header-content__title {
        font-size: 4em !important;
    }
    .header-content__description {
        font-size: 1em !important;
    }
}

.btn-custom {
    display: inline-block;
    padding: 1.4em 1.6em;
    margin-bottom: 2em;
    border-radius: 50em;
    background-color: #343b3b;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.alertify-notifier .ajs-message {
    width: 300px !important;
}

.alertify-notifier.ajs-right .ajs-message.ajs-visible {
    right: 320px !important;
}

.ajs-message,
.ajs-success {
    color: #fff !important;
    font-weight: 600;
}

.fa-shopping-cart {
    color: #FD7E14;
}

.fa-home {
    color: #FD7E14;
}

.fa-user {
    color: #4cae4c;
}

.fa-address-card {
    color: #4cae4c;
}

.fa-sign-out {
    color: #DC3545;
}

.fa-address-book {
    color: #007bff;
}

.fa {
    font-size: 24px;
}

#navbarSupportedContent .nav-link {
    color: #fff!important;
}

.active .nav-link {
    background: #5c5b61;
}


/*center room*/

.new-post__images {
    position: relative;
}

.new-post__info {
    position: absolute;
    font-weight: bold;
    font-size: 13px;
    bottom: 0%;
    color: #FFF;
    background-color: rgba(34, 71, 94, 0.52);
    padding: 5px 10px;
    height: auto;
    width: 100%;
}

.info__people {
    float: left;
}

.info__price {
    float: right;
}

.info__price--yellow {
    color: #FFC107;
}

.widget-category {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
}

hr {
    border-width: 1px;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.width-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.category--name a {
    font-size: 24px;
}

.new-post__title {
    cursor: pointer;
    min-height: 49px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding-top: 5px;
    color: #fff;
}

.room-center__title>h3 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.box-image {
    overflow: hidden;
}

.widget-thumb:hover img {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.widget-thumb img {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
}

.category--name {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}


/*login*/

#login,
#register,
.verify,
.profile-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 8px;
    z-index: 1041;
}

#login:hover,
#register:hover,
.verify:hover {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 1);
    transform: translate(-50%, -51%);
    opacity: 0.7;
}

.profile-user:hover {
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 1);
    transform: translate(-50%, -51%);
}

.panel-heading.lead {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-user .card {
    background: inherit !important;
}

.profile-user .btn {
    display: inline-block;
    padding: 1.4em 1.6em;
    margin-bottom: 2em;
    border-radius: 50em;
    background-color: #343b3b;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.profile-user .errors {
    color: #FD7E14 !important;
}


/*list-room*/

.box-room {
    margin-bottom: 30px;
}

.box-room {
    height: 440px;
}

.col-md-3 {
    margin-top: 35px;
}

.box-room__image {
    position: relative;
    height: 60%;
}

.box-room__info {
    height: 30%;
    border: 1px solid #b9b9c3;
    overflow: hidden;
    padding: 20px 10px 10px;
    position: relative;
    z-index: 2;
    background: #fff;
}

.box-room__price {
    height: 10%;
    border: 1px solid #b9b9c3;
}

.box-room__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-family: PlayfairDisplay, Arial;
}

.box-room__title p {
    margin: 0;
}

.fix-length {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info_description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-room__description {
    font-size: 15px;
    line-height: 27px;
    color: #5a5a5a;
    font-weight: 300;
    font-family: Roboto, Arial;
}

.box-room__category {
    font-size: 15px;
    line-height: 27px;
    color: #2eb0d1;
    font-weight: 300;
    font-family: Roboto, Arial;
}

.box-room__category p {
    margin: 0;
}

.box-room__price {
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

.box-room__price p {
    font-weight: 700;
    font-family: PlayfairDisplay, Arial;
    font-size: 24px;
    color: #2a2a2a;
}

.box-room__actions {
    text-align: center;
    position: absolute;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
}

.box-room__actions button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: tinfo--ranslate(-50%, 0);
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.box-room__image:hover .box-room__actions {
    opacity: 1;
}

.box-room__image:hover button {
    opacity: 1;
    transform: translate(-50%, -50%);
}

img {
    object-fit: cover;
}

#pagination {
    margin-top: 50px;
}

.notifications-menu {
    width: 350px;
}

.notifications-menu.dropdown-menu {
    padding: 0;
}

.notifications_view-all {
    margin-bottom: -8px;
}

.notifications-menu p {
    margin: 0;
}

.notifications-menu .card-header,
.notifications-menu .card-footer {
    padding: 7px 15px;
}

.notifications-menu .card-body {
    padding: 0;
}

.list-notifications li {
    padding: 7px 15px;
    list-style: none;
    background: #f9f9f9;
    border: 1px solid #EEEEEE;
}

.list-notifications li:hover {
    background: #EEEEEE;
}

.list-notifications {
    padding: 0;
}

.media-object {
    padding-right: 15px;
}

.media-object>img {
    border-radius: 50%
}

.notification-meta>.timestamp {
    font-size: 12px;
    color: #535c68;
}

.notification-desc {
    word-break: break-word;
}

.notification-title {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
