.breadcrumb {
  padding: 0px;
  margin-bottom: 10px;
  background-color: inherit;
  border-radius: 0px;
}

.breadcrumb a{
  color: #333;
  font-weight: 600;
}

.breadcrumb a:hover, .breadcrumb a:active{
  color: #5ca038;
  text-decoration: none;
  cursor: pointer;
}
/* Content in highlight */
@media screen and (min-width: 992px){
  .pr15-min-992{
    padding-right: 15px;
  }
}

.post-cate-highlight{
  margin-top: -10px;
}
.post-highlight{
  display: block;
}
.post-highlight .thumb{
  min-width: 250px;
  max-width: 250px;
  min-height: 200px;
  max-height: 200px;
}
.post-highlight .thumb img{
  min-width: 250px;
  min-height: 200px;
  max-width: 250px;
}
@media screen and (max-width: 450px){
  .post-highlight .thumb img{
    width: 350px;
  }
  .post-highlight .news-link a{
    clear: both;
    display: block;
    padding-top: 10px;
  }
}
.posts-link a{
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: 700;
  font-size: 18px;
}
.posts-link a:hover, .posts-link a:active{
  text-decoration: none;
  color: #78b43d;
}
.posts-link span{
  display: block;
  margin-bottom: 5px;
}
.posts-link p{
  font-size: 14px;
  color: #000;
}
.list-category {
  padding-top: 20px;
  padding-bottom: 20px;
}
.divider-line{
  border-top: 1px solid #78b43d;
  margin-left: -15px;
}

@media screen and (max-width: 991){
  .divider-line {
    margin-right: -15px;
  }
}

/* Relation category  */
.relation-cate {
  /* border-top: 1px solid #78b43d; */
  padding-bottom: 20px;
}
/* .relation-cate .news-post{
  padding-left: 0px !important;
}
.relation-cate .news-post img{
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  min-height: 150px;
  max-height: 150px;
} */

.item-category-ralation {
  margin-top: 20px;
}
.relation-cate .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
  color: #ffffff;
  background-color: #78b43d;
  border-color: #78b43d;
}
.block-with-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.js-clamp{
  height: 103px;
  overflow: hidden;
text-overflow: ellipsis;
}
.page-item.disabled{
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
    pointer-events:none;
}
