/* footer{
  background: #80b435;
  padding: 10px 0px;
} */

.top-footer {
    background-color: #222;
    border-color: #101010;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 10px;
}

.top-footer h4 {
    margin-bottom: 20px;
}

.top-footer ul {
    padding-left: 0px;
}

.top-footer ul li {
    list-style: none;
    line-height: 1.8em;
    margin-bottom: 10px;
}

/*footer*/
.copy-right {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*sticky footer*/

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
    margin-top: 50px;
  flex-shrink: 0;
}